.home-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.home-container h1,h2,h3,h4,h5,h6, p{
    margin: 1rem 0;
    
}
.home-container p{
    line-height: 20px;
}
.product-desc{

}

.product-pic{
    width: 90%;
}
.comment-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.questions-answer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}
@media only screen and (max-width: 600px) 
{
    .home-container{
        display: grid;
        grid-template-columns:auto;
        
    }
    .comment-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .questions-answer{
        grid-template-columns: 1fr;
    }
    .dashboard-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
