.single-review-container{
    display: flex;
    border: 1px solid goldenrod;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    align-items: center;
}
.single-review-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-right: 1rem;
}
.rating{
    background-color: black;
    padding: 1rem;
    margin: .5rem;
    border-radius: 50%;
    font-weight: 900;
    color: white;
}